<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApiOpenWeather</key>
	<string>Paste_your_OpenWeather_API_key_here.</string>
	<key>ApiGoogleTtranslate</key>
	<string>Paste_your_Google_Translate_API_key_here.</string>
	<key>ApiFixer</key>
	<string>Paste_your_Fixel.io_API_key_here.</string>
</dict>
</plist>
